/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    width: 100%;
    height: 100%;

}

body {
    /* width: 100%;
    height: 100%; */
    position: relative;
    width: 1280px;
    height: 1829px;
    background: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;

}

/*-----------header--------------*/

header {
    width: 1280px;
    height: 100px;
    background: #000000;

    display: flex;
    align-items: center;

}

header h1 {

    margin-left: 43px;

    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    /* identical to box height, or 114% */

    color: #FFFFFF;
}

/*-----------search--------------*/
button {
    cursor: pointer;

}

.search-wrapper {
    /* padding: 32px 0 0 30px; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    width: 1208px;
    padding-left: 32px;
}

.search-wrapper input[type="text"]::value {
    position: absolute;
    color: #000000;
    padding-left: 56px;
    top: 45px;
}

.search-focused {
    opacity: 0;
}

.search-wrapper input[type="text"] {
    width: 1010px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;

    padding-left: 56px;

}

.search-wrapper ::before {
    content: "";
    display: block;
    position: absolute;
    left: 46px;
    top: 43px;
    width: 17px;
    height: 17px;
    background: url("./assets/search.svg") center / contain no-repeat;
    z-index: 1;
}




.search-wrapper ::after {
    position: absolute;
    content: "";
    display: block;

    width: 1px;
    height: 16px;
    background-color: #000000;
    left: 75px;
    top: 43px;
    opacity: 0.5;
    box-sizing: border-box;
    z-index: 1;
}

.search-wrapper-cross {
    position: absolute;
    display: block;
    z-index: 1;
    width: 10px;
    left: 236px;
    top: 48px;
    cursor: pointer;

}

.search-wrapper input[type="submit"] {
    position: absolute;
    width: 145px;
    height: 40px;
    left: 967px;
    font-weight: bold;

    background: #F1BD45;
    border-radius: 0px 3px 3px 0px;
    border: none;
}

.search-closing-button {
    width: 117px;
    height: 40px;
    border: 1px solid #DEDEDE;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: bold;

}


/*-----------results--------------*/

.results-header {
    display: flex;
    align-items: center;
}

.results-header h2 {
    font-size: 28px;
    line-height: 32px;
    margin-left: 40px;
}

.results-header p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    margin-left: 19px;



    color: #8B8B8B;
}

.results-replaced {
    font-style: italic;
}



/*-----------categories--------------*/

.categories-slider,
.categories-slider-item,
.categories-slider-item-description {
    display: flex;
}

.categories-slider {
    position: relative;
    margin: 30px 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;


}

.categories-slider ::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;

    -webkit-box-shadow: inset -150px -13px 50px -90px #FFFFFF;
    box-shadow: inset -150px -13px 50px -90px #FFFFFF;
}


.results-wrapper ::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.categories-slider-item {

    padding: 0 20px 0 20px;
    border-right: solid 1px #B9B9B9;
}

.categories-slider-item_image {
    height: 60px;
    width: 60px;
    min-width: 60px;
    left: 0px;
    top: 0px;
    border-radius: 3px;
    background: #C4C4C4;
}

.categories-slider-item-description {
    padding-left: 10px;
    flex-direction: column;
    justify-content: space-evenly;
}

.categories-slider-item h3 {
    width: 141px;
    font-size: 14px;
    line-height: 19px;
}

.categories-slider-item p {
    font-size: 14px;
    line-height: 19px;
    font-size: 12px;
    line-height: 16px;
    color: #8B8B8B;

}

/*-----------results main part--------------*/




.results-main-part-wrapper {
    /* grid-template-columns: 40px 290px 42px 260px 44px 260px 43px 260px 40px; */
    display: flex;
    padding-left: 40px;
}

/*-----------results main part aside--------------*/

.categories-found {
    margin-bottom: 36px;

}

.categories-found h5 {
    margin-bottom: 11px;
}

.categories-found-item,
.categories-found-more {
    color: #5375B7;
    margin-bottom: 10px;

}

.categories-found-item span {
    color: #8B8B8B;
}

.price-range-wrapper {
    margin-bottom: 27px;

}

.price-range-wrapper h3 {
    font-weight: bold;
    margin-bottom: 16px;

}

.price-range-min-max input {
    width: 110px;
    height: 40px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
}

.price-range-min-max label,
.price-range-min-max span {
    opacity: 0.5;
    margin: 0 5px 0 5px;
}

.price-range-wrapper input[type="range"] {
    -webkit-appearance: none;

    width: 290px;
    height: 4px;

    background: #000000;
    border-radius: 30px;
}

.price-range-wrapper input[type="range"] ::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;

    cursor: pointer;
}

.price-range-wrapper input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.brands-wrapper {
    font-family: Open Sans;
    position: relative;


}

.brands-wrapper h3 {
    font-weight: bold;
    line-height: 19px;
    margin-bottom: 10px;
}

.brands-clean {
    position: absolute;
    top: 0;
    right: 0;
    font-family: Arial;
    font-size: 10px;
    line-height: 11px;
    text-decoration-line: underline;
    color: #333333;
    opacity: 0.5;
}

.brands-item {
    display: flex;
    align-items: center;
}

.brands-item input {
    width: 15px;
    height: 15px;

    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 3px;
}

.brands-item label {
    margin-left: 4px;

}

.brands-item span {
    margin-left: 4px;
    opacity: 0.7;
}

/*-----------results main part main--------------*/
main {
    padding-left: 40px;
    width: 867px;
}

.sorting-top-line,
.sort-by-wrapper {
    display: flex;
}

.sorting-top-line {
    justify-content: space-between;
    font-family: Open Sans;
    line-height: 19px;
}

.sort-by-wrapper h4 {
    margin-right: 10px;

}

.sort-by-wrapper span {
    margin-right: 14px;
}
.sort-by-selected {
    position: relative;
}
.sort-by-wrapper ::before {
    content: '';
    position: absolute;
    width: 95px;
    height: 1px;
    background-color: #F1BD45;
    top: 16px;
    left: 0;
    z-index: -1;
}

.show-per-page-wrapper span {
    margin-right: 5px;

}